.trends {
  text-align: left;
  list-style-type: none;
  padding-inline: 0px;
  border-radius: 8px;
  margin-block: 0px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.trends .trend-item {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.trends .trend-item .trend-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.trends .trend-item .trend-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trends .trend-item .trend-item__counter {
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 4px;
  background-color: cadetblue;
  color: white;
  margin-left: 10px;
}

.trends .trend-item .trend-item__star {
  cursor: pointer;
  fill: lightpink;
}

.trends .trend-item .trend-item__star:hover {
  fill: deeppink;
}

.trends .trend-item .trend-item__star.trend-item__star--favorite {
  fill: deeppink;
}
